body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.header{
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 500px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    justify-content: space-between;
}

.drawing-board{
    width: 500px;
    height: 500px;
    display: grid;
    border: 3px solid black;
    margin-bottom: 30px;
}

.heading{
    font-weight: 900;
}